.header {
  font-size: 2rem;
  color: rgb(9, 22, 9);
}

.list {
  list-style-type: disc;
  padding-left: 20px;
}

.item {
  padding: 10px;
}

.selected {
  background-color: rgb(2, 19, 2);
  color: yellow;
  border: 2px solid gold;
}

.selected:hover,
.notSelected:hover {
  cursor: pointer;
  border: 2px solid deeppink;
}

.notSelected {
    border: 2px solid transparent;
  background-color: lightgray;
  color: black;
}