.img-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-grid>div {
  max-width: 100px;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.img-grid img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}